Repository tensorflow/examples, pull requests merged in 2021-06, with the labels that each got.

#287 Fix condition in posenet example
  lite/examples/posenet/ios/PoseNet/Extensions/CVPixelBufferExtension.swift
Labels: cla: yes, ready to pull, size:XS

#322 Upgrade TFLite Digit Classifier codelab's dependencies.
  lite/codelabs/digit_classifier/android/finish/app/build.gradle
  lite/codelabs/digit_classifier/android/finish/build.gradle
  lite/codelabs/digit_classifier/android/start/app/build.gradle
  lite/codelabs/digit_classifier/android/start/build.gradle
Labels: cla: yes, ready to pull, size:S

#323 Update text classification iOS sample
  lite/examples/text_classification/ios/Podfile
  lite/examples/text_classification/ios/Podfile.lock
  lite/examples/text_classification/ios/README.md
  lite/examples/text_classification/ios/TextClassification.xcodeproj/project.pbxproj
  lite/examples/text_classification/ios/TextClassification/Base.lproj/Main.storyboard
  lite/examples/text_classification/ios/TextClassification/ViewController.swift
  lite/examples/text_classification/ios/screenshot.png
Labels: cla: yes, ready to pull, size:L

#330 Add GPU Compatibility check
  lite/examples/image_classification/android/lib_support/src/main/java/org/tensorflow/lite/examples/classification/tflite/Classifier.java
Labels: cla: yes, ready to pull, size:S

#321 Update l03c01_classifying_images_of_clothing.ipynb
  courses/udacity_intro_to_tensorflow_for_deep_learning/l03c01_classifying_images_of_clothing.ipynb
Labels: cla: yes, ready to pull, size:XS
